<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>登录茂田</title>

	<link rel="stylesheet" href="../../assets/stylesheets/uikit.min.css" />
	<link rel="stylesheet" href="../../assets/stylesheets/components/form-password.min.css" />
    
    <script src="../../assets/javascripts/jquery.js"></script>
    <script src="../../assets/javascripts/uikit.min.js"></script>
    <script src="../../assets/javascripts/components/form-password.min.js" type="text/javascript"></script>

</head>
<body>
	<div class="uk-containeruk-container-center">
		

		<nav class="uk-navbar">
			
			<h3 style="text-align:center;">登录茂田</h3>

	    </nav>

	</div>
	 
	 <br><br>

		<div class="uk-alert uk-text-center">设置密码完成注册</div>
	 
	 <br><br>    
	
	<div class="uk-container uk-container-center" style="text-align:center;">
		
		<form class="uk-form" action="login.html">
		    
		    <div class="uk-form-password">

		    	 <fieldset>
        			
        			<div class="uk-form-row">

        				<label for="user-mobile">手机号：&nbsp;&nbsp;&nbsp;&nbsp;</label>
        			
        				<input id="user-mobile" type="text" disabled="disabled" value="18802965455">
        			
        			</div>
        			
        			<div class="uk-form-row">

        				<label for="user-password">密&nbsp;&nbsp;&nbsp;&nbsp;码：&nbsp;&nbsp;&nbsp;</label>
        				
        				<input id="user-password" type="password">

        			</div>

        			<div class="uk-form-row">

        				<label for="user-password">确认密码：</label>
        				
        				<input id="user-password" type="password">

        			</div>

        			<div class="uk-form-row">
        				
        				<button type="submit" href"index.html" class="uk-button">同意条款并注册</button>

        				<span class="uk-text-small"><a href="#">查看条款</a></span>

        			</div>

    			</fieldset>

		    	
		    
		        
		    
		    </div>
		</form>

	</div>
	
</body>
</html>